*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  position: relative;
  width: 400px;
  display:inline-grid;
  grid-template-areas:"header header "
                      "tree ."
                      "picture .";
  background: linear-gradient(90deg, rgba(89,3,0,1) 0%, rgba(192,15,0,1) 48%, rgba(89,3,0,1) 100%);
}
.container > .scroll{
  grid-area: header;
}
.container > .picture{
  grid-area:picture ;
}
.container > .tree{
  grid-area: tree;
}
.scroll {
    height: 40px;
    line-height:40px;
    overflow: hidden;
    width: 100vw;
    margin-top: 20px;
}
.list {
    height: 280px;
    animation: linearUp 20s linear infinite;
}
p {
    height: 40px;
    text-align: center;
    font-family: "Fira Code";
}

@keyframes linearUp {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(0);
    }
    10%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(-40px);
    }
    20% {
        transform: translateY(-40px);
    }
    35%{
        transform: translateY(-80px);
    }
    40%{
        transform: translateY(-80px);
    }
    45%{
        transform: translateY(-120px);
    }
    50%{
        transform: translateY(-120px);
    }
    55%{
        transform: translateY(-160px);
    }
    60%{
        transform: translateY(-160px);
    }
    65%{
        transform: translateY(-200px);
    }
    70%{
    transform: translateY(-200px);
}
    75%{
        transform: translateY(-240px);
    }
    80%{
        transform: translateY(-240px);
    }
    85%{
        transform: translateY(-280px);
    }
    90%{
        transform: translateY(-280px);
    }
    95%{
        transform: translateY(-320px);
    }
    100%{
        transform: translateY(-320px);
    }
}

.picture >img{
    width: 100vw;
}
.tree{
    display: flex;
    justify-content: center;
    width: 350px;
}


