*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  /*border: 10px solid black;*/
  position: relative;
  width: 400px;
  height: 100vh;
  display:inline-grid;
  grid-template-areas:"header header "
                      "tree ."
                      "picture .";
  background: linear-gradient(90deg, rgba(89,3,0,1) 0%, rgba(192,15,0,1) 48%, rgba(89,3,0,1) 100%);

}
.container > .scroll{
  grid-area: header;
}
.container > .picture{
  grid-area:picture ;
}
.container > .tree{
  grid-area: tree;
}

.scroll {
    height: 40px;
    line-height:40px;
    overflow: hidden;
    width: 100vw;

}

.list {
    height: 160px;
    animation: linearUp 10s linear infinite;

}
p {
    height: 40px;
    text-align: center;
}

@keyframes linearUp {
    0% {
        transform: none;
    }
    20% {
        transform: translateY(-40px);
    }
    40%{
        transform: translateY(-60px);
    }
    60%{
        transform: translateY(-80px);
    }
    80% {
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-120px);
    }
}

.picture >img{
    width: 100vw;
}
.tree{
 /*border: 1px solid green;*/
    display: flex;
    justify-content: center;
    width: 350px;
 position: relative;
}
.tree > audio{
    position:absolute;
    bottom: 0;
    left: 0;
}

